body {
  font-family: Arial, sans-serif;
  background-color: #fff4e6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 106px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.start{
  display: flex;
  gap: 400px;
}

h1 {
  color: #e67e22;
  margin-bottom: 20px;
}

#document-content {
  font-size: 16px;
  line-height: 1.6;
}

.back-button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  max-width: 100px;
  max-height: 40px;
  margin-top: 25px;
}

.back-button:hover {
  opacity: 0.6;
}

