body {
  font-family: Arial, sans-serif;
  background-color: #fff4e6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 106px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #e67e22;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #e67e22;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 6px 12px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e67e22;
}