body {
  font-family: Arial, sans-serif;
  background-color: #fff4e6;
  margin: 0;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 160px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h1 {
  text-align: center;
  color: #d35400;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#chaneScheduleBtn , .backBtn, #deleteScheduleBtn {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

#chaneScheduleBtn:hover , #deleteScheduleBtn:hover, .backBtn:hover {
  background-color: #e67e22;
}