body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff4e6;
  margin: 0;
  width: 100%;
}

.container {
  max-width: 500px;
  margin: 109px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.2);
  border: 2px solid #ffb74d;
}

h1 {
  text-align: center;
  color: #e65100;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #e65100;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#createBtn, .backBtn{
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #f57c00;
}