body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../image/E9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 80px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.85);
}


.hero-content {
  max-width: 600px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  color: #FF8200;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}


.register-btn {
  padding: 15px 30px;
  background-color: #FF8200;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.register-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.7;
}